<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Drinker</title>
</head>
<body>
<h1>Creating new Drinker</h1>

<div>
    <form action="#" th:action= "@{/drinkers/create}" method="post">
   Drinker name <input type="text" name="name">
        <span>Drinker Type</span>
        <select id="drinkerTypeId" name="drinkerTypeId">
             <option th:each="drinkerType : ${drinkerTypes}" th:text="${drinkerType.name}" th:value="${drinkerType.id}"></option>
        </select>
        <button type="submit"> ADD Drinker</button>

    </form>
    <a th:href="@{/home}">Homepage</a><br>
</div>
</body>
</html>