<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1>Hello in Drinking Application</h1>

<h2> What do you want to do?</h2>

<a th:href="@{/drinkers/create}">ADD DINKER</a></br>

<a th:href="@{/containers/create}">ADD CONTAINER</a></br>

<a th:href="@{/drinkers}">SEE DRINKERS</a></br>

<a th:href="@{/containers}">SEE CONTAINERS</a></br>

<a th:href="@{/drink}">GET DRUNK</a></br>

<h1>Result List</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Drinker Name</th>
            <th>Drinker Type</th>
            <th>Drinker Volume</th>
            <th>Container Name</th>
            <th>Container Type</th>
            <th>Container Volume</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="drink : ${drinks}">
            <td th:text="${drink.drinkerName}"></td>
            <td th:text="${drink.drinkerType}"></td>
            <td th:text="${drink.drinkerVolume}"></td>
            <td th:text="${drink.containerName}"></td>
            <td th:text="${drink.conainerType}"></td>
            <td th:text="${drink.containerVolume}"></td>
            <td th:text="${drink.result}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>