<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Containers List</title>
</head>
<body>
<h1>Containers List</h1>
<div>
  <table>
    <thead>
    <tr>
      <th>Name </th>
      <th>Type</th>
      <th>Volume </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="container : ${containers}">
      <td th:text="${container.name}"></td>
      <td th:text="${container.type}"></td>
      <td th:text="${container.volume}"></td>
      <td><a th:href="@{/containers/update/{id}(id=${container.id})}">Edit</a></td>
      <td><a th:href="@{/containers/delete/{id}(id=${container.id})}">Delete</a></td>


    </tr>
    </tbody>
  </table>
  <a th:href="@{/home}">Homepage</a></br>
</div>
</body>
</html>